<div class="jumbotron">
  <h1>gmaps4rails with turbolinks</h1>
  <p class="lead">This demo shows that 
    <a href="https://github.com/apneadiving/Google-Maps-for-Rails">gmaps4rails</a> can be used with
    <a href="https://github.com/rails/turbolinks/">turbolinks</a>.
  </p>
  <p><%= link_to "Load a map with turbolinks", map_path, :class => "btn btn-lg btn-success" %></p>
  <p><%= link_to "Load a map without turbolinks", map_path, :class => "btn", :data => {no_turbolink: true} %></p>
</div>

<div class="row">
  <div class="col-lg-6">
    
<%= markdown("    

#### How to get it working

* Have a look at this short gist: https://gist.github.com/fiedl/6600555

#### Further Resources

* **Fork:** https://github.com/fiedl/Google-Maps-for-Rails
* **Pull Request:** https://github.com/apneadiving/Google-Maps-for-Rails/pull/328
* **Github Issue:** https://github.com/apneadiving/Google-Maps-for-Rails/issues/320
* **Stackoverflow Question:** http://stackoverflow.com/questions/13807686/gmaps4rails-and-turbolinks-not-loading-without-full-page-refresh
* **This Demo App on Github:** https://github.com/fiedl/gmaps4rails-turbolinks-demo
* **Railscast on turbolinks:** http://railscasts.com/episodes/390-turbolinks

") %>

  </div>
</div>
