<div class="jumbotron">
  <h1>gmaps4rails with turbolinks</h1>
  <p class="lead">This demo shows that 
    <a href="">gmaps4rails</a> can be used with
    <a href="">turbolinks</a>.
  </p>
  <p><a class="btn btn-lg btn-success" href="#">Load a map with turbolinks now</a></p>
  <p><a class="btn" href="#">Load a map without turbolinks</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Resources</h4>
    <ul>
      <li>Fork:</li>
      <li>Pull Request:</li>
      <li>Github Issue:</li>
      <li>Stack Overflow Question:</li>
      <li>This Demo App on Github:</li>
      <li>Railscast on turbolinks:</li>
    </ul>
  </div>
</div>
