<div class="jumbotron">
  <h1>gmaps4rails with turbolinks</h1>
  <p class="lead">This demo shows that 
    <a href="https://github.com/apneadiving/Google-Maps-for-Rails">gmaps4rails</a> can be used with
    <a href="https://github.com/rails/turbolinks/">turbolinks</a>.
  </p>
  <p><%= link_to "Load a map with turbolinks", map_path, :class => "btn btn-lg btn-success" %></p>
  <p><%= link_to "Load a map without turbolinks", map_path, :class => "btn", :data_no_turbolink => true %></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Resources</h4>
    <ul>
      <li>Fork:</li>
      <li>Pull Request:</li>
      <li>Github Issue:</li>
      <li>Stack Overflow Question:</li>
      <li>This Demo App on Github:</li>
      <li>Railscast on turbolinks:</li>
    </ul>
  </div>
</div>
